.header {
   width: 100%;
   padding: 10px 0px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.logo-container {
   padding: 10px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 165px;
}

.logo {
   width: 50px;
   height: 50px;
   overflow: hidden;
   border-radius: 50%;
}

.text-logo {
   margin-left: 10px;
   width: 104px;
   height: 20px;
   object-fit: cover;
   object-position: center;
}

@media (max-width:460px) {

   .text-logo {
      display: none;
   }

   .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50px;
   }
}